* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EFEFEF;
}

nav {
    background-color: #652D91;
    width: 100%;
    margin: none;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 80px;
}

nav li:first-child {
    margin-right: auto;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

nav a:hover {
    background-color: #4a2069;
}

.navbar-no-hover:hover {
    background-color: x|;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #662d913c;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.logo {
    height: 80px;
}

.menuOpenButton {
    display: none;
}

.booking-form-container {
    height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 170px;
    gap: 1em;
    grid-template-areas: 
    "box-1 box-2"
    "box-3 box-3";
}

.booking-form-item {
    padding: 1em;
    list-style: none;
}

.booking-form-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.booking-form-left p {
    padding: 1em;
    font-size: 1.1rem;
}

.booking-form-left input{
    width: 100%;
    height: 2em;
    border-radius: 5px;
    border: none;
    padding: 0.3em;
}

.booking-form-right li {
    padding: 1em;
    font-size: 1.1em;
}

.booking-form-item button {
    width: 100%;
    height: 70px;
    background-color: #652D91;
    color: white;
    padding: 0.5em;
    border-radius: 5px;
    border-color: #652D91;
    box-shadow: none;
    font-size: 1.2rem;
    font-weight: bold;
}

@media(max-width: 710px) {
    .hideOnMobile {
        display: none;
    }

    .menuOpenButton {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}
